<div class="nav-container">
    <mat-toolbar color="primary" class="nav-toolbar mat-elevation-z5">
      <button mat-icon-button (click)="sidebar.open()" class="mat-24" aria-label="Menu" *ngIf="mobileQuery.matches"><mat-icon>menu</mat-icon></button>
      <h1>Premium Calculator</h1>
      <span flex></span>
      <div *ngIf="!mobileQuery.matches">
        <button mat-raised-button color="primary" (click) = "navigateToCalculatePremium()"><mat-icon>create</mat-icon> Calculate Premium</button>
        <button mat-raised-button color="primary" (click) = "navigateToViewHistory()"><mat-icon>list</mat-icon> View History</button>
      </div>
    </mat-toolbar>
    <ng-sidebar-container style="height: 100vh;">
       <ng-sidebar #sidebar  [sidebarClass]="'nav-sidebar'" [position]="'left'" [animate]="true" [autoFocus]="false" [showBackdrop]="true" [closeOnClickOutside]="true" [closeOnClickBackdrop]="true">
          <mat-nav-list>
            <a style="color: #fff;" mat-list-item (click)="sidebar.close();navigateToCalculatePremium()"><mat-icon style="color: #fff;">create</mat-icon> Calculate Premium</a>
            <a style="color: #fff;" mat-list-item (click)="sidebar.close();navigateToViewHistory()"><mat-icon style="color: #fff;">list</mat-icon> View History</a>
        </mat-nav-list>
       </ng-sidebar>
       <div ng-sidebar-content>
            <router-outlet></router-outlet>
       </div>
    </ng-sidebar-container>
  </div>

